.navbar a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

.navbar a.active {
  border-bottom: 2px solid #00bfff;
}

.navbar .nav_btn:hover {
  color: #00bfff;
  transition: color 0.3s ease;
}
